<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <ul class="nav bg-info">
            <li class="nav-item"><a class="nav-link link-light" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link link-light" href="/members">Miembros</a></li>
            <li class="nav-item"><a class="nav-link link-light" href="/crear-miembro">Crear miembros</a></li>
        </ul>
    </div>

    {% block contenido %}
    {% endblock %}
    
</body>
</html>